<!-- Header include -->
<header class="template-header">
    <div class="company-info">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo-default.png'), "showTplWidget":"0"})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <div class="header-social">
        {{widget('socialicons', 'headersocial', {
            'googleplus': 'profile',
            'linkedin':'profile',
            'facebook': 'profile',
            'twitter': 'profile',
            'youtube': 'profile',
            'rss': 'profile',
            'pinterest': 'profile',
            'instagram': 'profile'
        })|raw}}
    </div>
</header>
